.tag {
  border: 1px solid rgba(14, 21, 28, 0.1);
  color: rgb(14, 21, 28);
  display: inline-flex;
  border-radius: 46px;
  box-sizing: border-box;
  padding: 8px 18px;
  font-weight: 400;
  font-size: 22px;
  align-content: center;
  align-items: center;
}
