@import "../../../../vars.scss";

.topicList {
  font-size: 28px;
  background: $bgColor;
  box-sizing: border-box;

  .topicItem {
    background: white;
    box-sizing: border-box;
    border-bottom: 1px #eee solid;

    margin: 10px;
    padding: 22px;
    overflow: hidden;

    &:active {
      background: $bgColor;
    }
    .title {
    }

    .line1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 55px;
      justify-content: space-between;

      .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        .avatar image {
          border-radius: 25px;
          height: 50px;
          width: 50px;
          display: block;
        }

        .userName {
          margin-left: 20px;
          font-size: 28px;
          font-weight: bold;
          text-transform: capitalize;
        }
      }

      .lastUpdateTime {
        font-size: 20px;
        color: #0e151c99;
      }
    }

    .title {
      font-size: 32px;
      padding: 15px 0 10px 0;
      height: 88px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .meta {
      height: 54px;
      display: flex;
      justify-content: space-between;

      .tagIcon {
        width: 28px;
        height: 28px;
        margin-right: 4px;
        display: inline-block;
      }
      .right {
        display: inline-flex;
        vertical-align: center;
      }
      .commentIcon {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        display: inline-block;
      }
    }
  }
}
