@import "../../vars.scss";

.pullDownTip {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .pullDownText {
    font-size: 24rpx;
    color: $text-muted;
  }
}
