@import "../../vars.scss";

.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: $bgColor;

  .bottomTab {
    height: 110rpx;
  }

  .tabContent {
    flex: 1;
    overflow: hidden;
  }
}

.bottomTab {
  .at-tab-bar__item:nth-child(2) .at-tab-bar__icon {
    background: linear-gradient(135deg, #1f69ff, #1954cc);
    border-radius: 24rpx;
    width: 56rpx;
    height: 56rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6rpx 16rpx rgba(31, 105, 255, 0.3);
    margin: 0 auto;

    .at-icon {
      color: #fff !important;
      font-size: 32rpx !important;
    }
  }
}
