@import "../../../vars.scss";

.content {
  background: $bgColor;
  padding: 20rpx 24rpx;
  line-height: 1.7;
  border-radius: $radius-md;

  .relatingTopicItem {
    color: $color-brand;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1rpx solid $border-color;
    padding: 16rpx 0;
    align-items: flex-start;

    &:last-child {
      border-bottom: none;
    }

    .left {
      vertical-align: top;
      justify-items: flex-start;
      min-width: 70rpx;
      width: 70rpx;
      margin-right: 16rpx;
      padding-top: 4rpx;

      .avatar {
        border-radius: 24rpx;
        box-sizing: border-box;
        width: 56rpx;
        height: 56rpx;
      }
    }

    .right {
      flex: auto;
      word-wrap: break-word;
      font-size: 28rpx;
      line-height: 1.55;
      color: $color-brand;

      &:active {
        opacity: 0.7;
      }
    }
  }
}
