@import "../../vars.scss";

.meProfile {
  background: $bgColor;
  padding-bottom: 40rpx;
  display: flex;
  flex-direction: column;

  &--notLoggedIn {
    .loginPromptWrap {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.navSettingsIcon {
  width: 42rpx;
  height: 42rpx;
}

.settingsIcon {
  width: 42rpx;
  height: 42rpx;
}
