@import "../../../vars.scss";
.at-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  .at-tabs__header {
    height: 90px;
  }
  .at-tabs__body {
    flex: auto;
    display: block;

    .at-tabs-pane {
      height: 100%;
      overflow: hidden;
    }
  }
}
#list_container{
  background: $bgColor;
}
