@import "~taro-ui/dist/style/components/tabs.scss";
.at-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
  .at-tabs__body {
    flex: auto;
    display: block;

    .at-tabs-pane {
      height: 100%;
      overflow: hidden;
    }
  }
}
