@import "./vars";

image {
  display: block;
}

page {
  line-height: 1.4;
  color: $text-primary;
  letter-spacing: 0;
  background: $bgColor;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
